/** @format */
.list {
  padding-top: 10vh;
}
.cards {
  display: flex;
  margin-left: 10vw;
  margin-top: 7vh;
  margin-bottom: 40vh;
  width: 80vw;
  flex-wrap: wrap;
  gap: 35px;
}
.title_div {
  margin-top: 15vh;
  display: flex;
  justify-content: space-between;
  font-size: 2.9rem;
}
.title {
  /* margin-left: -10vw; */
  color: #0878ab;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .title {
    margin-left: -13vw;
  }
  .join_link {
    margin-right: -10vw;
  }
}

@media (max-width: 415px) {
  .list {
    padding-top: 3vh;
  }
  .cards {
    margin-bottom: 20vh;
  }
  .title_div {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .title_div {
    font-size: 1.2rem;
  }
}
