/** @format */

.card {
  width: 350px;
  height: 200px;
  perspective: 1000px;
}

.card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card_inner {
  transform: rotateY(180deg);
}
.card_front {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_front,
.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card_front {
  background-color: #32b9ec;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #32b9ec;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card_back {
  background-color: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
.social {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
}
.icon {
  cursor: pointer;
}
.logo {
  margin-top: 20px;
  /* background-color: #fff; */
  /* -webkit-background-clip: content-box; */
}
